<body style="background-image: url(https://i.pinimg.com/originals/d5/60/44/d56044a5b5f62df707da4823ee84b2f4.jpg); align-content: center;">
<h1 style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;">Login Below!</h1>
  
<form style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;" action="/login" method="POST">
    <input style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;" type="text" name="username"
        placeholder="username">
    <input style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;" type="password" name="password" 
        placeholder="password">
    <button style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;">login</button>
</form>

<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><a href="/">Go back home</a></li>
<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><a href="/register">No Account yet? Register here!</a></li>
</body>


