<h1 style="background-image: url(https://i.pinimg.com/originals/d5/60/44/d56044a5b5f62df707da4823ee84b2f4.jpg); align-content: center;"> Sign up form </h1>
  
<form action="/register" method="POST">
    <input type="text" name="username" 
        placeholder="username">
    <input type="password" name="password" 
        placeholder="password">
    <button>Submit</button>
</form>
  
<h1>This is home page</h1>
  
<li><a href="/">Go back home</a></li>
<li><a href="/login">Already have an account? Login!</a></li>
