<body style="background-image: url(https://i.pinimg.com/originals/d5/60/44/d56044a5b5f62df707da4823ee84b2f4.jpg); align-content: center;">
<h1 style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;">FABA The Game</h1>
  
<h1 style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;">Start a new game?</h1>
<button style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;" onclick="window.location.href = 'http://localhost:3000/game';">New Game</button>
<h1 style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;">Resume an already started game.</h1>
<button style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;" onclick="window.location.href = '/game';">Resume Game</button>

  
<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><a href="/">Go back home</a></li>
<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><a href="/leaderboard">Visit the leaderboards!</a></li>
<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><a href="/logout">Logout</a></li>
<li style="vertical-align: middle; padding: 10px; list-style-type: none; background-color:#ccc; width: 25%; margin: 0 auto;"><a href="/game">test</a></li>
</body>